.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.login-buttons-row {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.logout-button-row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}