<div class="mat-elevation-z8 confirm-reset-password-box">
    <h1>{{confirmResetPasswordTitle}}</h1>
    <form #formControl="ngForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field>
            <mat-label>{{passwordInputLabel}}</mat-label>
            <input
                [type]="hide ? 'password' : 'text'"
                matInput
                [(ngModel)]="password"
                name="password"
                #pw="ngModel"
                required>
            <button (click)="hide = !hide" mat-icon-button matSuffix>
                <i *ngIf="hide" class="fas fa-eye-slash"></i>
                <i *ngIf="!hide" class="fas fa-eye"></i>
            </button>
            <mat-error>{{getValidationErrorMessage(pw)}}</mat-error>
        </mat-form-field>

        <br>
        <div class="buttons-row">
            <button [disabled]="inputInvalid()" mat-raised-button type="submit">
                {{changePasswordButtonLabel}}
            </button>
            <button mat-raised-button type="button" (click)="cancel()">
                {{cancelButtonLabel}}
            </button>
        </div>
    </form>
</div>