<div class="mat-elevation-z8 confirm-reset-password-box">
    <h1>{{confirmResetPasswordTitle}}</h1>
    <form #formControl="ngForm" (ngSubmit)="onSubmit(formControl)">
        
        <mat-form-field>
            <mat-label>{{passwordInputLabel}}</mat-label>
            <input
                #pw="ngModel"
                matInput
                name="password"
                required
                [type]="hide ? 'password' : 'text'"
                [minlength]="minLength"
                [(ngModel)]="password">
            <button class="hide-password" type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <fa-icon style="line-height: 1;" [icon]="hide ? faEyeSlash : faEye"></fa-icon>
            </button>
            <!-- eslint-disable-next-line angular/no-call-expression -->
            <mat-error>{{getValidationErrorMessage(pw)}}</mat-error>
        </mat-form-field>

        <br>
        <div class="buttons-row">
            <button mat-raised-button type="submit">
                {{changePasswordButtonLabel}}
            </button>
            <button mat-raised-button type="button" (click)="cancel()">
                {{cancelButtonLabel}}
            </button>
        </div>
    </form>
</div>