.confirm-reset-password-box {
    padding: 30px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

mat-form-field {
    width: 100%;
}

.buttons-row {
    margin-top: 5px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}