<div class="mat-elevation-z8 request-reset-password-box">
    <h1>{{requestResetPasswordTitle}}</h1>
    <form #formControl="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>{{emailInputLabel}}</mat-label>
            <input matInput type="email" [(ngModel)]="email" name="email" #mail="ngModel" required email>
            <mat-error *ngIf="mail.errors">{{getValidationErrorMessage(mail)}}</mat-error>
        </mat-form-field>
        <br>
        <div class="buttons-row">
            <button [disabled]="formControl.invalid" mat-raised-button type="submit">
                {{sendEmailButtonLabel}}
            </button>
            <button mat-raised-button type="button" (click)="cancel()">
                {{cancelButtonLabel}}
            </button>
        </div>
    </form>
</div>