<!-- eslint-disable angular/no-call-expression -->
<div class="mat-elevation-z8 login-box">
    <i class="title-icon fas fa-circle-user"></i>
    <h1>{{loginTitle}}</h1>

    <form #formControl="ngForm" (ngSubmit)="onSubmit(formControl)">
        <mat-form-field>
            <mat-label>{{emailInputLabel}}</mat-label>
            <input #mail="ngModel" matInput name="email" required email [(ngModel)]="email">
            <mat-error>{{getValidationErrorMessage(mail)}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>{{passwordInputLabel}}</mat-label>
            <input
                #pw="ngModel"
                matInput
                name="password"
                required
                [type]="hide ? 'password' : 'text'"
                [(ngModel)]="password">
            <button class="hide-password" type="button" mat-icon-button matSuffix (click)="$event.stopPropagation(); hide = !hide">
                <i class="fas" [class.fa-eye-slash]="hide" [class.fa-eye]="!hide"></i>
            </button>
            <mat-error>{{getValidationErrorMessage(pw)}}</mat-error>
        </mat-form-field>

        <br>

        <button type="submit" class="login-button" mat-raised-button [disabled]="formControl.invalid">
            {{loginButtonLabel}}
        </button>
        <br>
        <div class="forgot-password-link-container">
            <a [routerLink]="forgotPasswordLinkData.route">{{forgotPasswordLinkData.displayName}}</a>
        </div>
    </form>
</div>