.dialog-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

p {
    margin-bottom: 0px;
}

.qr-container {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.secret-container {
    margin-bottom: 16px;
}